.backup {
    display: none;
}

.spawn-if {
    display: none;
}

.meta {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-fill: balance;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.rot {
    margin: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0.5vh 0.5vw 0.5vh #000000;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    flex: 50%;
    justify-content: center;
}

.col_element {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 5px #888888;
    flex: fit-content;
    justify-content: center;
    text-align: center;
}

.ocr {
    height: 75vh;
    width: 90%;
    justify-content: center;
    font-size: 1.3rem;
    font-family: "Courier New", monospace;
}

img {
    width: auto;
    height: auto;
    min-width: 20em;
    max-width: 90%;
    max-height: 75vh;
    justify-content: center;
    justify-self: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.btn {
    transition-duration: 0.4s;
    color: rgba(0, 0, 0, 0.67);
    margin: 5px 4px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 12px;
    border: none;
}

.active:hover {
    cursor: pointer;
    color: white;
}

.disabled {
    /*pointer-events: bounding-box;*/
    opacity: 0.5;
    background-color: #f0f0f0;
    transition-duration: 0.1s;
    color: rgba(0, 0, 0, 0.67);
    pointer-events: none;
}

.disabled:hover {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.67);
}

.careful {
    background-color: rgba(255, 0, 0, 0.4);
}

.careful:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.good {
    background-color: rgba(0, 128, 0, 0.4);
}

.good:hover {
    background-color: rgba(0, 128, 0, 0.8);
}

.nav {
    background-color: rgba(0, 0, 200, 0.4);
}

.nav:hover {
    background-color: rgba(0, 0, 200, 0.8);
}

html {
    background-color: rgba(219, 217, 217, 0.38);
}

h2 {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}

h3 {
    text-align: center;
    font-family: "JetBrains Mono light", monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgba(219, 217, 217, 0.38);
}

header,
main,
footer {
    flex: 1;
}

img {
    max-width: 100%;
    max-height: 10000%;
}

.title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.ocr-img-container {
    overflow-y: scroll;
    max-height: 80vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    box-sizing: border-box;
    min-width: 0;
    width: 100%;
    margin: 0.2rem;
}

.box::after {
    content: "";
    display: table;
    padding: 0.1rem;
}

.main-box {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #000;
    padding: 20px;
    box-shadow: 5px 5px 5px #888888;
}

.secondary-box {
    align-items: center;
    text-align: center;
    align-self: center;
}

.form-daddy {
    text-align: center;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 1600px) {
    .box {
        margin: 3px;
    }

    .main-box {
        padding: 0;
        box-shadow: None;
    }
}

@media screen and (min-width: 1105px) {
    .box {
        flex: 1;
        min-width: auto;
        max-width: 100%;
    }

    .smol-boi {
        display: none;
    }
}

@media screen and (max-width: 1105px) {
    .big-boi {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .dash {
        display: none;
    }

    .no-dash {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 620px) {
    .no-dash {
        display: none;
    }

    .dash {
        display: inline-flex;
    }
}
