.backup {
    display: none;
}

.spawn-if {
    display: none;
}

.meta {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-fill: balance;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.rot {
    margin: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: .5vh .5vw .5vh #000000;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    flex: 50%;
    justify-content: center;
}

.col_element {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 5px #888888;
    flex: fit-content;
    justify-content: center;
    text-align: center;

}

.ocr {
    height: 75vh;
    width: 90%;
    justify-content: center;
    font-size: 1.3rem;
    font-family: "Courier New", monospace;
}

img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 75vh;
    justify-content: center;
    justify-self: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}


.btn {
    transition-duration: 0.4s;
    color: rgba(0, 0, 0, 0.67);
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 12px;
    border: none;
}

.active:hover {
    cursor: pointer;
    color: white;
}

.disabled {
    pointer-events: bounding-box;
    opacity: 0.6;
    background-color: #f0f0f0;
    transition-duration: 0.2s;
    color: rgba(0, 0, 0, 0.67);
}

.disabled:hover {
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.67);
}

.careful {
    background-color: rgba(255, 0, 0, 0.4);
}

.careful:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.good {
    background-color: rgba(0, 128, 0, 0.4);
}

.good:hover {
    background-color: rgba(0, 128, 0, 0.8);
}

.nav {
    background-color: rgba(0, 0, 200, 0.4);
}

.nav:hover {
    background-color: rgba(0, 0, 200, 0.8);
}

html {
    background-color: rgba(219, 217, 217, 0.38);
}

h2 {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}

h3 {
    text-align: center;
    font-family: "JetBrains Mono light", monospace;
}
